<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.mapper.ProductMapper" >



    <select id="queryCount" resultType="java.lang.Long">
        select count(*) from t_tshopproduct
    </select>


    <select id="querylist"  resultType="com.fh.bean.TShopProduct">
        select * from t_tshopproduct     limit #{page.start},#{page.length}
    </select>














    <sql id="searcheProduct">
        <where>
            and p.status=1
            <if test="paramter.cateId != null">
                and  pc.categroy_id=#{paramter.cateId}
            </if>
            <if test="paramter.brandId != null">
                and p.brand_id=#{paramter.brandId}
            </if>
        </where>
    </sql>


    <select id="queryProductCount" resultType="java.lang.Long">
        select count(DISTINCT p.id) from t_tshopproduct p
        LEFT JOIN t_shop_product_categroy pc
        on p.id=pc.productid
        <include refid="searcheProduct"></include>
    </select>


    <select id="queryList"  resultType="com.fh.bean.TShopProduct">
        select *  from t_tshopproduct p
        LEFT JOIN t_shop_product_categroy pc
        on p.id=pc.productid
        <include refid="searcheProduct"></include>
        limit #{page.start},#{page.length}
    </select>

    <select id="getProductById" parameterType="java.lang.Integer" resultType="com.fh.bean.TShopProduct">
        select DISTINCT p.id,p.name,p.subtitle,p.main_img mainImg,p.price,p.stock from t_shop_product p
        where p.id=#{productId}
</select>








</mapper>