<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.mapper.CartMaper" >


    <select id="queryCount" resultType="java.lang.Long">
        select count(*) from  t_Cart
    </select>



    <select id="querylist"  resultType="com.fh.baen.Cart">
        select * from   t_Cart     limit #{page.start},#{page.length}
</select>
    <delete id="delect" parameterType="int">
  delete  from  t_Cart  where   productId=#{id}

    </delete>
    <insert id="add"  parameterType="com.fh.baen.Cart">
      INSERT  INTO   t_Cart(productName)
          values (#{productName});
    </insert>

</mapper>